<!-- <p>chat works!</p>
<h3>Chat</h3>
<input [(ngModel)]="msg.Receiver" placeholder="Receiver" />
<div *ngFor="let m of messages">
{{messages  | json}}
  <p><b>{{m.Sender}}:</b> {{m.Text}}</p>
</div>
<input [(ngModel)]="msg.Text" placeholder="Message" />
<button (click)="sendMessage()">Send</button> -->


<!-- node-->

<p>chat works!</p>
<h3>Chat</h3>
<input [(ngModel)]="msg.Receiver" placeholder="Receiver" />
<div *ngFor="let m of messages">
  <p><b>{{m.Sender}}:</b> {{m.Text}}</p>
</div>
<input [(ngModel)]="msg.Text" placeholder="Message" />
<button (click)="sendMessage()">Send</button>